*{
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}
html{
	//background-color: rgb(20,25,50);
	//background-image: ulr("Raindrops1080.jpg");
}
.nav{
	color: #999;
	margin: auto;
	padding-top: 20px;
	position: fixed;
	top: 0px;
	width: 100%;
	text-align: center;
}
ul{
	list-style-type: none;
	overflow: hidden;
}
li{
    display: inline;
	margin: 10px;
}
li a{
	color: rgb(250, 250, 250);
	font-size: 20px;
	text-decoration: none;
	text-shadow: 0px 0px 10px black;
}
li a:hover {
    color: rgb(200, 200, 200);
}
.header{
	background-color: white;
	color: #444;
	text-align: center;
	width: 100%;
}
.header p{
	padding: 70px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 25px;
}
.header h2{
	font-size: 35px;
}
.spacer{
	height: 70px;
}
.top{
	background-image: url("Raindrops1080.png");
	color: rgb(250, 250, 250);
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	box-shadow: 0px 0px 10px 0px rgba(40, 50, 65, 0.1);
	width: 100%;
}
.top p{
	font-size: 18px;
	width: 50%;
	margin: auto;
}
.dynamic{
	background-image: url("Raindrops1080.png");
	color: rgb(250, 250, 250);
	text-align: center;
	//box-shadow: 0px 0px 10px 0px rgba(40, 50, 65, 0.1);
	width: 100%;
	font-size: 0px;
}

.profile{
	border-radius: 50%;
	width: 300px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 20px;
}
.tile1{
	margin-top: 60px;
	width: 350px;
	display: inline-block;
}
.tile1 img{
	width: 200px;
}
.tile1 h3{
	font-size: 20px;
}
.tile1 p{
	padding-top: 20px;
	font-size: 18px;
}
.tile2{
	width: 50%;
	height: 400px;
	background-color: grey;
	display: inline-block;
}
.tile2 h3{
	padding-top: 180px;
	font-size: 20px;
}
.tile2 p{
	padding-top: 20px;
	font-size: 18px;
}
.go{
	background-image: url("Bowl.jpg");
	background-position: center;
	background-size: 100%;
	height: 400px;
}
.hololens{
	background-image: url("Hololens.jpg");
	background-position: center;
	background-size: 130%;
	height: 400px;
}
.contact{
	background-color: rgb(30, 30, 40);
	color: rgb(250, 250, 250);
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	width: 100%;
}
.contact p{
	padding: 10px;
	font-size: 18px;
}
.contact h2{
	padding-bottom: 60px;
	font-size: 35px;
}
.contact a{
	color: rgb(250, 250, 250);
	font-size: 18px;
	//text-decoration: none;
	text-shadow: 0px 0px 10px black;
}
.inline{
	display: inline-block;
}
.osu{
	margin-bottom: 24px;
}
.defhacks{
	margin-bottom: 30px;
}
.robotics{
	margin-bottom: 19px;
}
p{
	font-size: 18px;
}
h1{
	font-size: 60px;
	margin-bottom: 20px;
}